app = 'myfreshyrssy'
primary_region = 'fra'
kill_signal = 'SIGINT'

[build]
image = 'ghcr.io/olexsmir/freshrss-image:latest'

[env]
CRON_MIN = '*/20'  # update feeds every 20 mins
TZ = "Europe/Kyiv"

[[mounts]]
source = 'freshrss_data'
destination = '/var/www/FreshRSS/data'

[[services]]
protocol = 'tcp'
internal_port = 80
processes = ['app']

[[services.ports]]
handlers = ['http']
force_https = true
port = 80

[[services.ports]]
handlers = ['tls', 'http']
port = 443

[services.concurrency]
type = 'connections'
hard_limit = 3
soft_limit = 2

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
